<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>AloTech</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename= 'styles/deneme.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   </head>
   <body>
      <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  <img src="../static/styles/images/alo-tech.png" alt="Brand Logo" width="250px">
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="#">Home</a></li>
                     <li><a href="#">About</a></li>
                  </ul>
               </div>
            </nav>
         </header>
         <div class="container login-container">
            <form action="/api" method="POST"> 
                <div class="row">
                    <div class="col-md-3 col-sm-10 login-form-1">
                        <h3>Start Date</h3>
                        <div class="form-group">
                                <input type="date" name="startDate" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <input type="time" name="startTime" class="form-control" value="" />
                            </div>
                    </div>
                    <div class="col-md-3 col-sm-10 login-form-2">
                        <h3>Finish Date</h3>
                            <div class="form-group">
                                <input type="date" name="finishDate" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <input type="time" name="finishTime" class="form-control"  value="" />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" value="Search" />
                            </div>
                    </div>
                </div>
            </form>
        </div>
         <div class="content">
             <h1 class="title-word">
                 Türkiye’nin En Büyük Çağrı Merkezi Bulutu!
             </h1>
            <p>
                AloTech, müşterilerine çağrı merkezi hizmeti sunmak isteyen işletmelere tüm çağrı merkezi fonksiyonlarını internet üzerinden ‘’hizmet’’ olarak sunmayı hedefleyen bir teknoloji şirketidir. Geleneksel teknolojilerin aksine donanım, yazılım, sunucu gibi yatırım maliyetleri ve bakım, onarım, lisanslama ve upgrade gibi işletme gereksinimleri olmayan bulut hizmetleriyle çağrı merkezlerine esneklik, maliyet avantajı, yönetim ve kullanım kolaylığı kazandırmayı hedefleyen AloTech bu yaklaşımıyla Bulut teknolojilerinin Türkiye’deki öncüleri arasında yer almaktadır. Mevcut çözümleri arasında Bulut Santral ( Cloud Pbx ), Bulut Çağrı Merkezi ( Cloud Contact Center ) ve Kanal Çağrı Yönetimi ( Line Pooling ) bulunan AloTech, tüm hizmet portföyünü kullandığın kadar öde modeliyle ücretlendirmekte, böylelikle müşterilerine gerçek anlamda katma değer sağlayan bir iş ortağı olmayı amaçlamaktadır. AloTech Ulusal ArGe kapsamında Tübitak ve Kosgeb tarafından desteklenmektedir. 
            </p>
         </div>
      </div>
   </body>
</html>